@model Diaries.Models.NonSittingDay

@{
    ViewBag.Title = "Create Non Sitting Day";
}


<h3>Create Non Sitting Day</h3>
<p></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.NSD_ID)

    <p style="font-size:inherit;color:red">@ViewData["ErrorMessage"]</p>

    <table border="0">
        <tr>
            <td class="auto-style16">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", "NonSittingDay", new { @class = "btn btn-danger" })
            </td>
        </tr>
    </table>

    <p></p>


    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <td>
                <table border="0" style="font-family: Arial; float: left; font-size: 9pt; background-color: whitesmoke; width: auto; height: 100%; ">
                    <tr style="background-color: #46568c; color: white; "><th align="center"><b>Day Notes</b></th></tr>
                    <tr>
                        <td class="auto-style12">

                            <table border="0" style="font-family: Arial; font-size: 9pt; width: 100%; background-color: whitesmoke; float: left" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5" width="auto">
                                        Start Date:
                                    </td>
                                    <td align="left">
                                        <input type="text" class="datepickeryear" data-val="true" data-val-length="The start date must be a date." data-val-length-max="10" data-val-required="The start date must be entered." id="NSD_Date" name="NSD_Date" value=@Model.NSD_Date.ToString("dd-MM-yyyy") style="font-size:12px; padding-top:5px;" />
                                        @Html.ValidationMessageFor(model => model.NSD_Date)
                                    </td>
                                </tr>

                            </table>

                            <table border="0" style="font-family: Arial; font-size: 9pt; width: 100%; background-color: ThreeDLightShadow; float: left" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5" width="auto">
                                        Note:
                                    </td>
                                    <td align="left">
                                        @Html.EditorFor(model => model.NSD_Reason)
                                        @Html.ValidationMessageFor(model => model.NSD_Reason)
                                    </td>
                                </tr>

                            </table>

                            <table border="0" style="font-family: Arial; font-size: 9pt; width: 100%; background-color: ThreeDLightShadow; float: left" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5" width="auto">
                                        Active:
                                    </td>
                                    <td align="left">
                                        <input type="checkbox" name="NSD_Active" id="IsActive" value="true" checked="checked" />
                                        @Html.ValidationMessageFor(model => model.NSD_Active)
                                    </td>
                                </tr>

                            </table>




                        </td>

                    </tr>

                </table>

                <table border="0" style="font-family: Arial; float: right; font-size: 9pt; background-color: whitesmoke; width: auto; height: 100%; ">
                    <tr style="background-color: #46568c; color: white; "><th align="center"><b>Colours</b></th></tr>
                    <tr>
                        <td class="auto-style12">
                            <table border="0" style="font-family: Arial; font-size: 9pt; width: 100%; background-color: whitesmoke; float: left" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5" width="auto">
                                        Background Colour:
                                    </td>
                                    <td align="left" class="input-group color">
                                        <span class="input-group-addon"><i></i></span>

                                        @Html.ColorPickAreaFor(Model.NSD_BackColor, Model.NSD_BackColor, "NSD_BackColor")
                                        @Html.ValidationMessageFor(model => model.NSD_BackColor)
                                    </td>
                                </tr>

                            </table>
                            <table border="0" style="font-family: Arial; font-size: 9pt; width: 100%; background-color: whitesmoke; float: left" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5" width="auto">
                                        Text Colour:
                                    </td>
                                    <td align="left" class="input-group color">
                                        <span class="input-group-addon"><i></i></span>
                                        @Html.ColorPickAreaFor(Model.NSD_TextColor, Model.NSD_TextColor, "NSD_TextColor")
                                        @Html.ValidationMessageFor(model => model.NSD_TextColor)
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

}


