@model Diaries.Models.VacateReason

@{
    ViewBag.Title = "Create Vacate Reason";
}

<h3>Create Vacate Reason</h3>
<p></p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.VR_ID)

    <p style="font-size:inherit;color:red">@ViewData["ErrorMessage"]</p>

    <table border="0">
        <tr>
            <td class="auto-style16">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", "VacateReason", new { @class = "btn btn-danger" })
            </td>
        </tr>
    </table>
    <br />


    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <td>
                <table border="0" style="font-family: Arial; float: left; font-size: 9pt; background-color: whitesmoke; width: auto; height: 100%; ">
                    <tr style="background-color: #46568c; color: white; "><th align="center"><b>Vacate Reason Details</b></th></tr>
                    <tr>
                        <td class="auto-style12">
                            <table border="0" style="font-family: Arial; font-size: 9pt; width: 100%; background-color: whitesmoke; float: left" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5" width="auto">
                                        Vacate Reason:
                                    </td>
                                    <td align="left">
                                        @Html.EditorFor(model => model.VR_Name)
                                        @Html.ValidationMessageFor(model => model.VR_Name)
                                    </td>
                                </tr>

                            </table>

                            <table border="0" style="font-family: Arial; font-size: 9pt; width: 100%; background-color: whitesmoke; float: left" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" nowrap class="auto-style5" width="auto">
                                        Vacate Reason Type:
                                    </td>
                                    <td align="left">
                                        @Html.DropDownList("VR_Type", ViewData["VRTypes"] as SelectList)
                                        @Html.ValidationMessageFor(model => model.VR_Type)
                                    </td>
                                </tr>

                            </table>

                        </td>

                    </tr>

                </table>

            </td>
        </tr>
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


